<%- include('../partials/head')  %>

</head>

<body>
    <%- include('../partials/header') %>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fa fa-gift"></i> Order # <%- record.id %></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table header-border table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Price</th>
                                            <th>Ordered At</th>
                                            <th>Immediate</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="/admin/users/edit-user/<%- record.user_id %>" target="_blank"><%- record.customerName %></a></td>
                                            <td><%- record.total_price %></td>
                                            <td><span class="text-muted"><%- record.ordered_date %></span></td>
                                            <td><%- (record.immediate == 1)? 'Yes': 'No' %></td>
                                            <td><%- record.status %></td>
                                            <td><%- record.created_at %></td>
                                            <td>
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="12" cy="5" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="12" cy="19" r="2"/></g></svg>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <% if(record.statusId != 1){ %>
                                                            <a class="dropdown-item text-warning orderStatusBtn" data-status="1" href="javascript:void(0);">Pending</a>
                                                        <% } %>
                                                        <% if(record.statusId != 3){ %>
                                                            <a class="dropdown-item text-primary orderStatusBtn" data-status="3" href="javascript:void(0);">Assigned</a>
                                                        <% } %>
                                                        <% if(record.statusId != 2){ %>
                                                            <a class="dropdown-item text-success orderStatusBtn" data-status="2" href="javascript:void(0);">Completed</a>
                                                        <% } %>
                                                        <% if(record.statusId != 4){ %>
                                                            <a class="dropdown-item text-danger orderStatusBtn" data-status="4" href="javascript:void(0);">Cancelled</a>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
        
        <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">#</th>
                                            <th>Item</th>
                                            <th class="right">Unit Cost</th>
                                            <th class="center">Qty</th>
                                            <th class="right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < services.length; i++) { %>
                                        <tr>
                                            <td class="center"><%= i+1 %></td>
                                            <td class="left strong"><%= services[i].name %></td>
                                            <td class="right">₤<%= services[i].price %></td>
                                            <td class="center"><%= services[i].quantity %></td>
                                            <td class="right">₤<%= services[i].payable_amount %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-5"> </div>
                                <div class="col-lg-4 col-sm-5 ml-auto">
                                    <table class="table table-clear">
                                        <tbody>
                                            <tr>
                                                <td class="left"><strong>Total</strong></td>
                                                <td class="right"><strong><%- record.total_price %></strong>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-5">
                                <div class="mt-4 col-sm-12">
                                    <h6>Address:</h6>
                                    <div> <strong><%- record.address %></strong> </div>
                                </div>
                            </div>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <%- include('../partials/footer') %>

    <%- include('../partials/defaultJs') %>

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%- googleMapKey %>&callback=initMap&v=weekly" async></script>

    <script>

        $(document).ready(function(){
            // order status updation
            $("body").on("click", ".orderStatusBtn", function(e){
                e.preventDefault();
                let orderId = <%- record.id %>;
                let statusId = $(this).data("status");
                let data = "order_id="+orderId+"&status_id="+statusId;
                axios.post('/admin/orders/order-status-update', data)
                    .then(function(response) {
                        successMsg(response.data.message);
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    })
                    .catch(function(error) {

                    });
            });
        });

        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: <%- record.lat %>, lng: <%- record.lng %> };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>

</body>

</html>