<%- include('../partials/head')  %>
<!-- Datatable -->
<link rel="stylesheet" href="/admin-assets/vendor/datatables/css/jquery.dataTables.min.css">
</head>

<body>
    <%- include('../partials/header') %>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><%= sectionTitle %></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="display" style="min-width: 845px">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Schedule Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer') %>

    <%- include('../partials/defaultJs') %>
    <!-- Datatable -->
    <script src="/admin-assets/vendor/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    "type": "POST",
                    "url": "<%= datatableUrl %>"
                },
                columns: [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                        "searchable":     false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { data: 'id', name: 'reminders.id'},
                    { data: 'user_name', name: 'users.name' },
                    { data: 'title', name: 'reminders.title' },
                    { data: 'schedule_date', name: 'schedule_date' },
                    { data: 'status', name: 'status', orderable: false, searchable: false},
                ],
                "order": [[1, 'desc']],
            });

            // Add event listener for opening and closing details
            $('#datatable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( childRowFormat(row.data()) ).show();
                    tr.addClass('shown');
                }
            });
        });

        function childRowFormat( data ) {
            return `<table class="table table-bordered">
                        <tr>
                            <td>Created At:</td>
                            <td>`+data.created_at+`</td>
                        </tr>
                    </table>`;
        }
    </script>

</body>

</html>